<div class="container contact">
    <div class="public-banner">
        <div class="row">
            <div class="col-lg-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.928232366767!2d-51.223217486246355!3d-30.038916737977075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519785554ddf1d1%3A0xdee429cf326b12b!2sCondom%C3%ADnio+Edif%C3%ADcio+S%C3%A3o+Manoel+-+R.+Luiz+Afonso%2C+203+-+Cidade+Baixa%2C+Porto+Alegre+-+RS%2C+90050-310!5e0!3m2!1sen!2sbr!4v1460387791773" width="1170" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    
    <div class="page-body">
        <div class="row text-center">
            <div class="col-lg-4">
                <h3>Hours</h3>
                <p>Open 7 days a week 12pm to 9pm.</p>
            </div>
            
            <div class="col-lg-4">
                <h3>Location</h3>
                <p>
                1234 Street Name<br />
                Vancouver, BC<br />
                604.123.1234
                </p>
            </div>
            
            <div class="col-lg-4">
                <h3>Reservations</h3>
                <p>For reservations, please call 604.123.1234. 24 hours
                notice required to cancel a reservation.</p>
            </div>
        </div>
    </div>
</div>